body {
  background-image: url(giphy.gif);
  /* background-repeat: no-repeat; */
  /* background-position: 100% 10%; */
  background-position: center center;
  /* background-size: cover; */
  background-attachment: fixed;
}

p {
  color: #222222;
}

.foto-principal {
  width: 200px;
}